.settings/
.buidpath
CodeMirror*
.project
*.sublime-project
*.sublime-workspace
.DS_Store
*./.DS_Store
*/*/.DS_Store
Thumbs.db
._*
build/*
bin/*
pkg/*
.svn
*~
log/*
tmp/**/*
*.com
*.class
*.dll
*.exe
*.o
*.so
*.7z
*.dmg
*.gz